$grey-dark: #777;
$primary: #313A3A;
$primary-light: #7ed56f;
$primary-dark: #28b485;
$secondary-light: #ffb900;
$secondary-dark: #ff7730;
$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;
$grey-light-1: #887c7c;
$grey-light-2: rgba(109, 98, 98, 0.616);
$white: #FFF;
$black: #000;

$box-shadow-default: 0 1.5rem 2rem rgba($color: #000000, $alpha: .15);
$box-shadow-2: 0 1.5rem 2rem rgba($color: #000000, $alpha: .45);

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

