.header {
    height: 100vh;
    background-image: url(../img/photo3.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-position: top;
    position: relative;
    color: white;

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate( -50%, -50%);
        text-align: center;
        border: 1px solid white;
        padding: 7rem;
        box-shadow: $box-shadow-2;
        background-color: $grey-light-2;
    }
}


//ABOUT PAGE
.header-about {
  height: 100vh;
  background-color: #f1d592;
  filter: grayscale(65%);
  position: relative;
  color: white;

  &__text-box {
      position: absolute;
      top: 40%;
      left: 20%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 7rem;
  }

  &__name {
      position: absolute;
      top: 60%;
      right: 10%;
      color: $black;
      font-size: 4rem;
  }

  &__year {
      position: absolute;
      top: 2%;
      right: 5%;
      color: $black;
      font-size: 4rem;
      transform: rotate(90deg);
      font-weight: lighter;
  }
}
