.about-image {
    position: relative;
    left: 15%;

    &__photo {
        border-radius: 50%;
        position: absolute;
        width: 55%;
        box-shadow: $box-shadow-default;
        
    }
}

.about-info {
    margin-top: 25%;
    margin-left: 10%;
    font-size: 1.2rem;
}