.about-image {
    position: relative;
    left: 15%;
    margin-top: 5rem;

    &__photo {
        border-radius: 50%;
        filter: grayscale(100%);
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .15);
        
    }
}

.about-info {
    margin-top: 25%;
    margin-left: 10%;
    font-size: 1.2rem;
}