.section-about {
    // background-color: $color-primary;
    background-image: linear-gradient(to bottom, black, $primary);
    color: white;
    padding: 2rem 0 25rem 0;
    margin: -10rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
        margin-top: 15rem;
    }
}

.section-features {
    background-color: $primary;
    color: white;
    padding: 16rem 0 15rem 0;
}

.section-footer {
    background-color: $primary;
    padding: 0 2rem 2rem;
    font-size:1.5rem;
    line-height:2.4rem;
    color: white;

    &__heading {
        font-size: 1.5rem;
    }

    &__text {
        font-size: 1.2rem;
    }

    &-links {
        list-style: none;
    }

    &-links a {
        text-decoration:none;
        color: white;
    }
}