.section-about {
    // background-color: $color-primary;
    background-image: linear-gradient(to bottom, black, $color-primary);
    color: white;
    padding: 6.5rem 0 30rem 0;
}

.section-features {
    background-color: $color-primary;
    color: white;
}